html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-image: 
        url("./image/grad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#divBackground{
    position: absolute;
    z-index: -1;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background-image: 
        url("./image/stuff.png")  ,
        url("./image/cell.png"),
        url("./image/color.png");

}

.game {
    background-color: white;
    z-index: 0;
    background-size: 100%;
    width: 960px !important;
    min-height: 640px !important;
    border-radius: 15px;
    position: absolute;
    margin: 15px auto 20px;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5), 
                0px 2px 4px 0px rgba(0,0,0,0.5);
}

body a {
    color: #246EA1;
}
a {
    background: transparent;
}

.head {
    border-bottom: 1px solid rgba(150,150,150,0.29);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}

.back-link {
    font-size: 18px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.arrow-left{
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #246ea1;
    position: relative;
    font-family: "Noto Sans" !important;
    font-size: 18px;
    border-radius: 50%;
}
.arrow-left::before{
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    right: -18px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    position: absolute;
}

.right-group {
    top: 10px;
    right: 20px;
    position: absolute;
    display: inline-block;
}

.dropdown-toggle{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    padding: 4px 4px;
    outline: none;
    top: 4px;
}

.dropdown-toggle-caret{
    margin-top: 8px;
    margin-left: 3px;
    font-family: "Noto Sans" !important;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.beads-wrapper{
    font-size: 14px;
    text-align: center;
    margin-top: -50px;
    padding: 0 80px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.inner-process{
    margin-top: 45px;
    margin-left: 90px;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #ededed;
    box-shadow: inset 0px 1px 1px  0px rgba(0,0,0,0.22),
                inset 0px 1px 3px  0px rgba(0,0,0,0.18);
    position: relative;
}

.inner-process i :hover{
    transition: left 200ms linear;
}

.ball{
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(./image/az_ball.png);
    position: absolute;
    top: 3px;
}

body.card-content{
    padding: 4px 0;
}

.player{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
    line-height: 1.5; 
    width: 960px;
    min-height: 483px;
}

.card-content.player.scene{
    position: relative;
    min-height: 540px;
    padding: 10px;
}

.card-content.player.scene.grid{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: -1;
    display: none;
    font-size: 10px;
}

.scene {
    position: relative;
    min-height: 540px;
    padding: 10px;
    filter: blur(5px);
}

.figure{
    width: 200px;
    height: 460px;
    margin-left: 160px;
    margin-top: 40px;
    float: left;
}

.card-content.player.right-act{
    position: relative;
    width: 540px;
    height: 500px;
    float: right;
    margin-top: 10px;
}

.title{
    margin-top: 100px;
    margin-right: 20px;
    height: 100px;
    line-height: 49px;
    font-size: 36px;
}

.speaker{
    touch-action: none;
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-bottom: -1px;
    background-image: url("./image/speaker.png");
    background-size: 100%;
    display: inline-block;
    border-radius: 50%;
    background-position: 0 0;
}

.button-next{
    margin-top: 6px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.button-next-link{
    height: 41px;
    padding: 5px;
    border-radius: 5px;
}

.button-next-text{
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
    position: absolute;
    left: 3px;
    top: 5px;
    color: #6ec3e2;
}

.button-next-icon{
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 10px;
    right: -10px;
    background-image: url("https://content.dragonlearn.in/145437/1488/59.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
}

.tools-hidden{
    height: 200px;
    width: 360px;
    float: right;
    display: block;
    opacity: 0;
}

.hidden-box{
    position: relative;
    height: 80px;
    width: 280px;
    float: left;
}

.tool-painter{
    position: absolute;
    left: -35px;
    width: 335px;
    height: 80px;
    z-index: 1;
}

.small-speaker{
    position: absolute;
    left: -35px;
    top: 16px;
}

.speaker-small{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-position: 0 0;
    touch-action: none;
    position: relative;
    margin-right: 10px;
    margin-bottom: -1px;
    background-image: url("./image/speaker.png");
    background-size: 100%;
}

.tool-brush{
    height:60px;
    width: 60px;
    background-image: url("./image/");
}

.tool-text-brush{
    margin-left: 60px;
    margin-top: -60px;
    font-size: 26px;
    float: left;
    padding-top: 11px;
    cursor: default;
}

.tool-select{
    position: absolute;
    top: 9px;
    z-index: -1;
    opacity: 0.7;
    height: 40px;
}

.tool-eraser{
    margin-top: -60px;
    height: 40px;
    width: 60px;
    background-image: url("./image/eraser.png");
}

.congratulation{
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 390px;
    opacity: 0;
}

.congrat-button{
    margin-top: 300px;
    display:inline-block ;
    position: relative;
}

.congrat-button-next{
    height: 41px;
    padding: 2px;
    border-radius: 5px;
}

.congrat-title{
    bottom: 10px;
    font-size: 35px;
    display: inline ;
}

.button-next-holder{
    position: relative;
    margin-left: 1px;
    margin-right: 38px;
}


.button-next-text2{
    margin-left: 140px;
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
    position: absolute;
    left: 3px;
    top: 5px;
    color: #6ec3e2;
}

.start-play{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 246px;
    height: 246px ;
    margin: -166px 0px 0px -166px;
    border-radius: 200px;
    background-color: rgba(184,0,161,0.1);
    border: 43px solid rgba(255,255,255,0.75);
    transition: linear 0.2s;
    cursor: pointer;
    display: block;
}
.traingle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 112px;
    height: 113px;
    background: url("./image/start.png") no-repeat;
    margin: -57px 0 0 -35px;
}

.traingle span{
    position: absolute;
    top: 50%;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    left: 18px;
    color: #fff;
}

a :hover{
    opacity: 0.5;
}

.speaker :hover{
    opacity: 0.8;
}

.button-next-icon{
    opacity: 0.8;
}
.button-next-text{
    opacity: 0.8;
}

.start-play :hover{
    opacity: 0.8;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.square{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}