html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-image: 
        url("./image/grad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#divBackground{
    position: absolute;
    z-index: -1;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background-image: 
        url("./image/stuff.png")  ,
        url("./image/cell.png"),
        url("./image/color.png");

}

.game {
    background-color: white;
    z-index: 0;
    background-size: 100%;
    width: 960px !important;
    min-height: 640px !important;
    border-radius: 15px;
    position: absolute;
    margin: 15px auto 20px;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5), 
                0px 2px 4px 0px rgba(0,0,0,0.5);
}

body a {
    color: #246EA1;
}
a {
    background: transparent;
}

.head {
    border-bottom: 1px solid rgba(150,150,150,0.29);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}

.back-link {
    font-size: 18px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.arrow-left{
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #246ea1;
    position: relative;
    font-family: "Noto Sans" !important;
    font-size: 18px;
    border-radius: 50%;
}
.arrow-left::before{
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    right: -18px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    position: absolute;
}

.right-group {
    top: 10px;
    right: 20px;
    position: absolute;
    display: inline-block;
}

.dropdown-toggle{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    padding: 4px 4px;
    outline: none;
    top: 4px;
}

.dropdown-toggle-caret{
    margin-top: 8px;
    margin-left: 3px;
    font-family: "Noto Sans" !important;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.right-act{
    position: relative;
    width: 540px;
    height: 440px;
    float: right;
    margin-top: 80px;
}

.beads-wrapper{
    font-size: 14px;
    text-align: center;
    margin-top: -50px;
    padding: 0 80px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.inner-process{
    margin-top: 45px;
    margin-left: 90px;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #ededed;
    box-shadow: inset 0px 1px 1px  0px rgba(0,0,0,0.22),
                inset 0px 1px 3px  0px rgba(0,0,0,0.18);
    position: relative;
}

.ball{
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(./image/az_ball.png);
    position: absolute;
    top: 3px;
    transition: 1s linear;
}

body.card-content{
    padding: 4px 0;
}

.player{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
    line-height: 1.5; 
    width: 960px;
    min-height: 483px;
}

.card-content.player.scene{
    position: relative;
    min-height: 540px;
    padding: 10px;
}

.card-content.player.scene.grid{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: -1;
    display: none;
    font-size: 10px;
}

.scene {
    position: relative;
    min-height: 540px;
    padding: 10px;
    filter: blur(5px);
}

.figure{
    width: 200px;
    height: 460px;
    margin-left: 160px;
    margin-top: 40px;
    float: left;
}

.card-content.player.right-act{
    position: relative;
    width: 540px;
    height: 500px;
    float: right;
    margin-top: 10px;
}

.title{
    height: 100px;
    line-height: 51px;
    font-size: 36px;
}

.speaker{
    touch-action: none;
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-bottom: -1px;
    background-image: url("./image/speaker.png");
    background-size: 100%;
    display: inline-block;
    border-radius: 50%;
    background-position: 0 0;
}

#button-next{
    margin-top: 6px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.button-next-link{
    height: 41px;
    padding: 5px;
    border-radius: 5px;
}

.button-next-text{
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
    position: absolute;
    left: 3px;
    top: 5px;
    color: #6ec3e2;
}

.button-next-icon{
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 10px;
    right: -10px;
    background-image: url("https://content.dragonlearn.in/145437/1488/59.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
}

.tools-hidden{
    height: 200px;
    width: 360px;
    float: right;
    display: block;
    opacity: 0;
}

.hidden-box{
    position: relative;
    height: 70px;
    width: 280px;
    float: left;
}

.tool-painter{
    position: absolute;
    left: -35px;
    width: 335px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}

.small-speaker{
    position: absolute;
    left: -35px;
    top: 16px;
    cursor: pointer;
}

.speaker-small{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-position: 0 0;
    touch-action: none;
    position: relative;
    margin-right: 10px;
    margin-bottom: -1px;
    background-image: url("./image/speaker.png");
    background-size: 100%;
    cursor: pointer;
}

.tool-brush{
    height:60px;
    width: 60px;
    cursor: pointer;
}

.tool-text-brush{
    margin-left: 00px;
    margin-top: -65px;
    font-size: 26px;
    float: left;
    padding-top: 11px;
    cursor: default;
}

.tool-text-brush1{
    margin-left: 60px;
    margin-top: -50px;
    font-size: 26px;
    float: left;
    padding-top: 11px;
    cursor: default;
}

.fa-paint-roller{
    transform: rotate(-90deg);
}

.fas {
    margin-right: 10px;
}

.tool-select{
    position: absolute;
    top: 9px;
    z-index: -1;
    opacity: 1;
    height: 40px;
}

.tool-eraser{
    margin-top:-40px;
    height: 40px;
    width: 60px;
    background-image: url("./image/eraser.png");
}

.tool-blur{
    opacity: 1;
    top: 10px;
    height: 40px;
}

.congratulation{
    position: absolute;
    bottom: 35px;
    right: 10px;
    width: 390px;
    display: none;
}

.congrat-button{
    display: inline-block ;
    position: relative;
}

.congrat-button-next{
    height: 40px;
    padding: 2px;
    cursor: pointer;
}

.congrat-title{
    font-size: 30px;
}

.button-next-text2{
    margin-left: 200px;
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
    position: absolute;
    left: 3px;
    top: 5px;
    color: #6ec3e2;
    cursor: pointer;
}

#start-play{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 246px;
    height: 246px ;
    margin: -166px 0px 0px -166px;
    border-radius: 200px;
    background-color: rgba(184,0,161,0.1);
    border: 43px solid rgba(255,255,255,0.75);
    transition: linear 0.2s;
    cursor: pointer;
    transition: border 1s ;
}

.traingle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 112px;
    height: 113px;
    background: url("./image/start.png") no-repeat;
    margin: -57px 0 0 -35px;
}

.traingle span{
    position: absolute;
    top: 50%;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    left: 18px;
    color: #fff;
}

.suggestMessage{
    height: 50px;
    width: 400px;
    position: relative;
    display: none;
    background-color: burlywood;
    border-radius: 5px;
}

.titleMessage{
    font-size: 30px;
    color: white;
}

.suggestScreen1{
    
    height: 50px;
    width: 500px;
    position: relative;
    display: none;
    background-color: #81ecec;
    border-radius: 5px;
}

.titleMessagesuggestScreen1{
    font-size: 30px;
    color: #00b894;
}

.Done{
    width: 420px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button-done{
    cursor: default;
    opacity: 1;
    height: 41px;
    padding: 2px 14px;
    border-radius: 5px;
    position: absolute;
    right: 170px;
    z-index: 999;
    top: 100%;
    margin-top: -70px;
    background: #6ec3e2;
    display: none;
    cursor: pointer;
}

.button-done_placeholder{
    visibility: hidden;
    display: block;
    font-size: 24px;
    line-height: 28px;
    white-space: nowrap;
    padding: 7px 0 6px;
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: #fff;
}

.button-done_wrong{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: #ff5768;
    opacity: 0;
}

.button-done_right{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: #00ff33;
    opacity: 0;
}

.button-done_text{
    display: block;
    font-size: 24px;
    line-height: 28px;
    white-space: nowrap;
    padding: 7px 0 6px;
    left: 14px;
    top: 5px;
    position: absolute;
    color: #fff;
}

.back-link:hover{
    opacity: 0.5;
}

.right-group :hover{
    opacity: 0.5;
}

.speaker :hover{
    opacity: 1;
    cursor: pointer;
}

.guidePlay{
    position: absolute;
    width: 80px;
    height: 99px;
    left: 150px; 
    top: 30px;
    transition: 2s linear;
}

.arrow-elem{
    position: absolute;
    background-image: url(./image/arrowMouse.png);
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 0;
}

.arrow-wink{
    position: absolute;
    background-image: url(./image/loading.png);
    width: 75px;
    height: 75px;
}

#start-play :hover{
    opacity: 0.8;
}

.shape{
    transition: color 1s, background-color 1s;
}

.circle{
    display: block;
    width: 190px;
    height:190px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.square{
    display: block;
    margin-top: 50px;
    width: 190px;
    height: 190px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.traingleShape{
    margin-left: -45px;
    -webkit-text-stroke: 4px black; 
    color: transparent; 
    font-size: 280px; 
    margin-top: -50px;
    cursor: default;
}

.traingleShape1{
    margin-left: -45px;
    -webkit-text-stroke: 4px black; 
    color: transparent; 
    font-size: 150px; 
    margin-top: -50px;
    cursor: default;
}

.traingleShape2{
    margin-left: -45px;
    -webkit-text-stroke: 4px black; 
    color: transparent; 
    font-size: 100px; 
    margin-top: -50px;
    cursor: default;
}

.square1{
    display: block;
    margin-top: 50px;
    width: 100px;
    height: 120px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.square2{
    display: block;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.circle1{
    display: block;
    width: 100px;
    height:100px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.circle2{
    display: block;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.rotateShape1{
  transform: rotate(20deg);
}

.rotateShape2{
  transform: rotate(-35deg);
}

.traingleShape3{
    margin-left: -45px;
    -webkit-text-stroke: 4px black; 
    color: transparent; 
    font-size: 150px; 
    margin-top: -50px;
    cursor: default;
}

.traingleShape4{
    margin-left: -45px;
    -webkit-text-stroke: 4px black; 
    color: transparent; 
    font-size: 150px; 
    margin-top: -50px;
    cursor: default;
}

.square3{
    display: block;
    margin-top: 50px;
    width: 120px;
    height: 60px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.square4{
    display: block;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.circle3{
    display: block;
    width: 100px;
    height:100px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.circle4{
    display: block;
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.circle5{
    display: block;
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
    opacity: 1;
}

.rotateShape3{
  transform: rotate(20deg);
}

.rotateShape4{
  transform: rotate(-90deg);
}

#button-next :hover{
    opacity: 1;
}

.appear2{
    display: none;
}

.appear3{
    display: none;
}

.appear4{
    display: none;
}
